/* ---------- GENERAL STYLES ---------- */

body {
    background-color: #ebebeb;
	color: #404040;
#	letter-spacing: 1px;
	max-width: 1280px;
	margin: 0 auto;
	font-family:'Helvetica';
}

h1,
h2,
h3 {
	font-weight: normal;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul li {
	list-style-type: square;
}

/* ---------- NAV ---------- */

nav {
	font-size: 1em;
	padding: 8px 0 8px 0;
	text-align: center;

}

nav ul {
	margin: 0;
}

nav li {
	color: #333;
	margin: 0 10px 0 0;
	display: inline;
	list-style-type: none;
}

nav li a {
	color: #333;
	padding: 6px 10px 6px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 3px;
}

nav li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #444;
}
nav li a.active {
	color: #fff;
	background-color: #222;
}


/* ---------- HEADER ---------- */

body > header {
	margin: 0 0 20px 0;
	letter-spacing: 5px;
	color: #222;
	text-align: center;
}

body > header > h1 {
	font-size: 4em;
	font-weight: bold;
	letter-spacing: 10px;
	line-height: 1.2;
	margin: 0;
}

header h1 a {
	color: #222;
}

header h1 a:hover {
	text-decoration: none;
}

header h2 {
	font-size: 1em;
	margin: 0;
}

/* ---------- SECTION ---------- */

section {
	overflow: hidden;
	background-color: white;
}

section.main {
	box-shadow: 0px 0px 10px #CCCCCC;
}

#container {
	overflow: hidden;
	padding: 40px;
}

.directory {
	margin-bottom: 20px;
}
.directory:first-letter{
	text-transform: uppercase;
}
.directory span {
	background-color: #111;
	color: #fff;
	padding: 6px 10px 6px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* ---------- ARTICLE / PAGE ---------- */

.width-sidebar {
	float: left;
	width: 65%;
}

.full-width {
	width:100%;
}

article header h1 {
	color: #111;
	line-height: 1.1;
	margin: 0;
}

article header h1 a {
	color: #111;
}
article header h1 a:hover {
	color: #666;
}

article header {
	background-color: transparent;
	color: inherit;
	padding: 0;
	text-align: left;
}

article header p {
	color: #777;
	font-size: 0.9em;
	margin-bottom: 0;
}

article section {
	background-color: inherit;
	padding: 0;
}

article img {
	margin: 0 5px;
}

article footer {
	background-color: inherit;
	color: #777;
	font-size: 0.9em;
	margin-bottom: 50px;
	padding: 0;
	text-align: left;
}

article a,
article a:hover {
	color: #FF1E78;
}

.more {
	font-size: 0.8em;
}

/* ---------- COMMENT ---------- */

#comments {
	margin-bottom: 50px;
}

.info_comment {
	color: #777;
	font-size: 0.9em;
	font-style : italic;
}

.comment {
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	margin-bottom: 30px;
	padding-left: 60px;
}

.com-alert {
	color: #db2020;
	font-weight: bold;
}

.type-admin {
	background-color: #fff;
//	border: 1px solid #000000;
	padding-left: 10px;
}

/* ---------- PAGINATION ---------- */

#pagination {
	margin-bottom: 50px;
	text-align: center;
}

#pagination span,
#pagination a {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

#pagination a {
	background-color: #333;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#pagination a:hover {
	background-color: #444;
	color: #eee;
	text-decoration: none;
}

#pagination span:first-letter,
#pagination a:first-letter {
	text-transform: uppercase;
}

/* ---------- SIDEBAR ---------- */

aside {
	float: right;
	width: 30%;
}

aside h3 {
	color: #111;
	font-size: 1.3em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #CCC;
}

aside a {
	color: #555;
}

aside ul {
	margin: 0 0 30px 0;
}

aside li:first-letter {
	text-transform: uppercase;
}

.rss {
	background-image: url(../img/rss.png);
	background-repeat: no-repeat;
	line-height: 1;
	margin: 10px 0;
	padding-left: 20px;
}

/* ---------- TAG ---------- */

.tag {
	display: inline-block;
	margin: 0;
	padding-right: 10px;
}

.tag-size-1 {
	font-size: 1em;
}

.tag-size-2 {
	font-size: 1.1em;
}

.tag-size-3 {
	font-size: 1.2em;
}

.tag-size-4 {
	font-size: 1.3em;
}

.tag-size-5 {
	font-size: 1.4em;
}

.tag-size-6 {
	font-size: 1.5em;
}

.tag-size-7 {
	font-size: 1.6em;
}

.tag-size-8 {
	font-size: 1.7em;
}

.tag-size-9 {
	font-size: 1.8em
}

.tag-size-10 {
	font-size: 1.9em;
}

.tag-size-max {
	font-size: 2em;
}

/* ---------- FOOTER ---------- */

footer {
	clear: both;
	color: #999;
	padding: 20px;
	text-align: center;
	font-size: 0.9em;
}

footer p {
	margin: 0;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #999;
}

.copyright {
	font-size: 0.8em;
	margin-top: 15px;
}

/* ---------- FORM ---------- */

#form h2 {
	margin: 0;
}

label {
	display:block;
}

input,
select,
textarea {
	border: 1px solid #bbb;
	color: #555;
}

button,
input[type=submit],
input[type=reset] {
	background-color: #333;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
	background-color: #444;
}

.capcha-letter,
.capcha-word {
	font-weight: bold;
}

/* ---------- TABLE ---------- */
table, th, td {
	border: 1px solid #999
}

/* ---------- RESPONSIVE DESIGN ---------- */

@media screen and (max-width:800px) {

	nav {
		padding: 5px 20px;
		text-align: center;
	}

	nav li {
		display: block;
		margin: 10px 0;
	}

	body > header {
		margin: 0 20px 20px 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#container {
		margin: 0 20px 20px 20px;
		padding: 20px;
	}

	.width-sidebar,
	aside {
		width: 100%;
	}

	button,
	input,
	select,
	textarea {
		max-width: 100%;
}

	aside {
		margin-top: 50px;
	}

}

#top > section {	
	box-shadow: 0px 0px 10px #CCCCCC;
}

